<div class="box box-primary">
<div class="box-header with-border">
  <h3 class="box-title">E-wallet address <%= current_user.wallet.address %></h3>
</div>
<!-- /.box-header -->
<!-- form start -->
<form role="form" action="/topups/create" accept-charset="UTF-8" method="post">
  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>

  <div class="box-body">
    <div class="form-group">
      <label for="wallet">Top Up To</label>
      <input type="text" class="form-control" id="wallet" value="Balance Rp <%= current_user.wallet.my_cash %>" disabled>
    </div>

    <div class="form-group">
      <label for="nominal">Input Nominal Topup</label>
      <input type="text" class="form-control" id="nominal" placeholder="min Rp 10.000" name="payment[transactions_attributes][0][price]">
    </div>

    <div class="form-group">
      <label for="account_number">Account Number</label>
      <input type="text" class="form-control" id="account_number" value="1111111111111111" name="payment[account_number]" readonly>
    </div>

    <div class="form-group">
      <label for="account_name">Account Name</label>
      <input type="text" class="form-control" id="account_name" value="E-wallet" name="payment[account_name]" readonly>
      <input type="hidden" value="<%= current_user.wallet.id %>" name="payment[transactions_attributes][0][wallet_id]"/>
      <input type="hidden" value="<%= Time.now.strftime('%Y-%m-%d') %>" name="payment[transactions_attributes][0][date]"/>
      <input type="hidden" value="debit" name="payment[transactions_attributes][0][transaction_type]"/>
      <input type="hidden" value="1" name="payment[transactions_attributes][0][status]"/>
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
