<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Transactions</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <div class="col-xs-12">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Type</th>
              <th>Price</th>
              <th>Date</th>
           </tr>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.transaction_type %></td>
              <td><%= transaction.format_price %></td>
              <td><%= transaction.date %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
