<div class="box box-primary">
<div class="box-header with-border">
  <h3 class="box-title">E-wallet address <%= current_user.wallet.address %></h3>
</div>
<!-- /.box-header -->
<!-- form start -->
<form role="form" action="/transfer/create" accept-charset="UTF-8" method="post">
  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
  <input type="hidden" value="<%= current_user.wallet.id %>" name="payment[transactions_attributes][0][wallet_id]"/>
  <input type="hidden" value="<%= Time.now.strftime('%Y-%m-%d') %>" name="payment[transactions_attributes][0][date]"/>
  <input type="hidden" value="credit" name="payment[transactions_attributes][0][transaction_type]"/>
  <input type="hidden" value="2" name="payment[transactions_attributes][0][status]"/>

  <div class="box-body">
    <div class="form-group">
      <label for="wallet">Withdraw From</label>
      <input type="text" class="form-control" id="wallet" value="Balance Rp <%= current_user.wallet.my_cash %>" disabled>
    </div>

    <div class="form-group">
      <label for="nominal">Input Nominal transfer</label>
      <input type="text" class="form-control" id="nominal" placeholder="min Rp 10.000" name="payment[transactions_attributes][0][price]">
    </div>

    <div class="form-group">
      <div class="form-group">
        <label for="bank_account">Select User Wallet</label>
        <select class="form-control" id="bank_account" name="user_id">
          <option>Please Select</option>
          <% @users.each do |user|%>
            <option value="<%= user.id %>"> <%= user.full_address %></option>
          <% end%>
        </select>
      </div
    </div>
  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
