<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= current_user.try(:email) %></p>
        <!-- Status -->
        <a href="#">RP <%= current_user.wallet.my_cash %></a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="/accounts"><i class='fa fa-link'></i> <span>Bank Account</span></a></li>
      <li class="active"><a href="/topups/index"><i class='fa fa-link'></i> <span>Top Up</span></a></li>
      <li class="active"><a href="/withdraw/index"><i class='fa fa-link'></i> <span>Withdraw</span></a></li>
      <li class="active"><a href="/transfer/index"><i class='fa fa-link'></i> <span>Transfer</span></a></li>
      <li class="active"><a href="/transaction/index"><i class='fa fa-link'></i> <span>Transaction</span></a></li>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
