<%= form_with(model: account, local: true, html: {:class => "form-horizontal"}) do |form| %>
  <div class="box-body">
    <% if account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: "col-sm-2 control-label" %>
      <div class="col-md-10">
        <%= form.select(:name, options_for_select(bank_list), {}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :number, class: 'col-sm-2 control-label' %>
      <div class="col-md-10">
        <%= form.text_field :number, class: 'form-control' %>
      </div>
    </div>

    <div class="box-footer">
      <%= form.submit %>
    </div>
  </div>
<% end %>
