<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Accounts</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <div class="col-xs-12">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>User</th>
              <th colspan="2"></th>
           </tr>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.name %></td>
              <td><%= account.number %></td>
              <td><%= account.user.try(:email) %></td>
              <td><%= link_to 'Edit', edit_account_path(account) %></td>
              <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12">
        <%= link_to 'New Account', new_account_path, class: "btn btn-primary"%>
        <br>
        <br>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
