<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">New Account</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <p id="notice"><%= notice %></p>
      <div class="col-xs-12">
        <%= render 'form', account: @account %>
      </div>
      <div class="col-xs-12">
        <%= link_to 'Back', accounts_path, class: 'btn btn-primary' %>
        <br>
        <br>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
